@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Slab&display=swap');

* {
     margin: 0;
     padding: 0;
     border: none;
}

body {
     font-family: 'Lato', sans-serif;
     font-weight: 300;
     color: #3a3a3a;
}

/* headings and logos */

h1,
h2 {
     font-family: 'Roboto Slab', sans-serif;
     text-transform: uppercase;
     letter-spacing: 4px;
     color: red;

}

#logo {
     float: left;
     font-size: 250%;
     margin-left: 30px;
}

/* navigation links */

#menu {
     font-size: 110%;
     letter-spacing: 4px;
}

#menu,
#logo {
     line-height: 75px;
}

#menu li {
     float: right;
     list-style-type: none;
     margin-right: 30px;
}

#menu a {
     text-decoration: none;
     color: inherit;
}

#menu a:hover {
     border-bottom: 1px solid #3a3a3a;
}

.active {
     border-bottom: 1px solid #3a3a3a;
}

/* main image*/

#hero-section {
     height: 600px;
     width: 100%;
     background: url('../images/pexels-andrea-piacquadio-3806249.jpg') no-repeat center center;
     background-size: cover;
     clear: both;
   
}

#cover-text,
#cover-text h2 {
     color: #fff;
}

#cover-text {
     font-size: 130%;
     font-family: 'Roboto Slab', sans-serif;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);


}

/* about us section */

.about-us {
     height: 500px;
     width: 100%;
     background-color: #fff;
     text-align: center;
}

.about-us h2,
.our-courses h2 {
     font-size: 1.75rem;
     color: red;
     margin-bottom: 30px;
     padding-top: 40px;
     text-align: center;
}

.about-us p {
     font-size: 1.5rem;
     color: #3a3a3a;
     padding: 20px 200px 20px;

}

/* our courses */

.our-courses {
     height: 100%;
     width: 100%;
     box-sizing: content-box;
     margin-bottom: 50px;

     background-color: #fff;

}

.our-courses h3 {
     font-size: 1.5rem;
     color: red;
     margin-bottom: 30px;

}

.our-courses p,
.our-courses ul {
     font-size: 1.25rem;
     color: #fff;
     width: 60%;

}

.icons {
     margin-bottom: 15px;
}


#apprentice-course {
     height: 450px;
     width: 80%;
     box-sizing: border-box;
     margin: 20px 9% 50px;
     padding: 80px;
     border: 1px solid red;

     background-color: #3a3a3a;
}

#safety-course {
     height: 450px;
     width: 80%;
     box-sizing: border-box;
     margin: 20px 9% 50px;
     padding: 80px;
     border: 1px solid red;

     background-color: #3a3a3a;
}

#apprentice-image {
     height: 230px;
     width: 230px;

     border: 20px solid #fff;

     float: right;
     position: relative;
     bottom: 300px;

}

#safety-image {
     height: 230px;
     width: 230px;

     border: 20px solid #fff;

     float: right;
     position: relative;
     bottom: 400px;
     right: 20%;
     

}

/* contact and location section */

#contact-section {
     color: #3a3a3a;
     margin-left: 230px;
     height: 200px;
     width: 20%;
    

}

iframe {
     height: 450px;
     width: 80%;
     display: inline;
     margin: 0 200px 0 200px;
}


/* footer */


footer {
     height: 100px;
     width: 100%;
     background-color: #fff;



}

.social-media {
     text-align: center;
}

.social-media>li {
     display: inline;
}

.social-media i {
     font-size: 160%;
     margin: 1%;
     padding: 5%;
     color: #3a3a3a;
}

/* courses page */

.course-section {
     clear: left;
     background: url("../images/pexels-andrea-piacquadio-3806252.jpg");
     overflow: auto;
}

.course-box {
     margin: 150px 0 150px 10%;
     color: #fff;
     background-color: rgba(60, 60, 60, 0.9);
     width: 600px;
     height: 100%;
     left: 10%;
     padding: 80px;
     border: 2px solid red;
     clear: both;
     overflow: hidden;
}

.course-box h2,
.course-box h3 {
     margin-bottom: 20px;
}


.course-box ul,
.course-box p {
     margin: 10px auto 20px;

}

/* Apply Now page */

.form-section {
     clear: left;
     background: url("../images/pexels-matheus-bertelli-3007436.jpg") no-repeat center center;
     background-size: cover;
     background-position: center;
     height: 1500px;
}

.application-form {
     margin: 150px 10% 0 0;
     color: #fff;
     background-color: rgba(60, 60, 60, 0.9);
     max-width: 600px;
     height: 130%;
     position: absolute;
     left: 10%;
     padding: 80px;
     border: 2px solid red;
     min-height: 900px;
     overflow: hidden;
}

.application-form h2 {
     margin-bottom: 30px;
}

.input-text {
     background: transparent;
     color: #fff;
     width: 100%;
     height: 20px;
     margin: 5px 0 30px 0;
     border: 1px solid #fff;
}

.textarea-form {
     background: transparent;
     color: #fff;
     width: 100%;
     height: 80px;
     margin: 5px 0 30px 0;
     border: 1px solid #fff;
     resize: none;

}

.apply-now-button {
     margin-top: 20px;
     border-radius: 2px;
     padding: 15px 35px 15px 35px;
     text-align: center;
     font-size: 100%;
     color: #fff;
     background-color: red;
}

/* media queries */

/* for large to medium screen sizes from 1200px wide and down */

@media screen and (max-width 1200px) {
     
}